.wrapper {
  width: 100%;
  margin-top: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  border-radius: 8px;
  padding-top: 8px;
}

.popper-title {
  padding: 5px 12px;
  font-size: 14px;
  color: rgba(22, 24, 35, 0.5);
}

.search-list {
  list-style: none;
}